--
-- PostgreSQL database dump
--

\restrict onLMonkvhWhVkvKhWtQaGYDWyFabaxxD2m9tmrr4r2h6bAMtOqJY0LJBLY0cvUo

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: grade_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.grade_status AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'APPROVED'
);


ALTER TYPE public.grade_status OWNER TO postgres;

--
-- Name: request_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.request_status AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public.request_status OWNER TO postgres;

--
-- Name: request_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.request_type AS ENUM (
    'REVIEW',
    'RESERVE',
    'RETAKE'
);


ALTER TYPE public.request_type OWNER TO postgres;

--
-- Name: student_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.student_status AS ENUM (
    'STUDYING',
    'RESERVED',
    'GRADUATED',
    'DROPPED'
);


ALTER TYPE public.student_status OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'ADMIN',
    'LECTURER',
    'STUDENT'
);


ALTER TYPE public.user_role OWNER TO postgres;

--
-- Name: check_lecturer_schedule_conflict(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_lecturer_schedule_conflict() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_lecturer_id VARCHAR(20);

    v_conflict_count INTEGER;

BEGIN

    -- Lß║Ñy lecturer_id tß╗½ section

    SELECT lecturer_id INTO v_lecturer_id

    FROM course_sections

    WHERE section_id = NEW.section_id;

    

    -- Kiß╗âm tra xung ─æß╗Öt vß╗¢i c├íc lß╗ïch kh├íc cß╗ºa c├╣ng giß║úng vi├¬n

    SELECT COUNT(*) INTO v_conflict_count

    FROM schedules s

    JOIN course_sections cs ON s.section_id = cs.section_id

    WHERE cs.lecturer_id = v_lecturer_id

      AND s.schedule_id != COALESCE(NEW.schedule_id, -1)

      AND s.week = NEW.week

      AND s.day_of_week = NEW.day_of_week

      AND (

          (s.start_period <= NEW.start_period AND s.end_period > NEW.start_period) OR

          (s.start_period < NEW.end_period AND s.end_period >= NEW.end_period) OR

          (s.start_period >= NEW.start_period AND s.end_period <= NEW.end_period)

      );

    

    IF v_conflict_count > 0 THEN

        RAISE EXCEPTION 'Giß║úng vi├¬n ─æ├ú c├│ lß╗ïch dß║íy v├áo thß╗¥i gian n├áy (Tuß║ºn %, Thß╗⌐ %, Tiß║┐t %-%)!', 

            NEW.week, NEW.day_of_week, NEW.start_period, NEW.end_period;

    END IF;

    

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.check_lecturer_schedule_conflict() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: academic_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.academic_requests (
    request_id integer NOT NULL,
    student_id character varying(20),
    request_type public.request_type NOT NULL,
    reason text NOT NULL,
    status public.request_status DEFAULT 'PENDING'::public.request_status,
    admin_response text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    grade_id integer
);


ALTER TABLE public.academic_requests OWNER TO postgres;

--
-- Name: academic_requests_request_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.academic_requests_request_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.academic_requests_request_id_seq OWNER TO postgres;

--
-- Name: academic_requests_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.academic_requests_request_id_seq OWNED BY public.academic_requests.request_id;


--
-- Name: classes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classes (
    class_id character varying(20) NOT NULL,
    major_id character varying(20),
    advisor_id character varying(20),
    class_name character varying(100),
    enrollment_year integer
);


ALTER TABLE public.classes OWNER TO postgres;

--
-- Name: course_sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_sections (
    section_id integer NOT NULL,
    subject_id character varying(20),
    lecturer_id character varying(20),
    semester character varying(10) NOT NULL,
    academic_year character varying(9) NOT NULL,
    room_default character varying(50),
    max_capacity integer DEFAULT 60,
    section_code character varying(50) NOT NULL,
    is_locked boolean DEFAULT false
);


ALTER TABLE public.course_sections OWNER TO postgres;

--
-- Name: course_sections_section_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.course_sections_section_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.course_sections_section_id_seq OWNER TO postgres;

--
-- Name: course_sections_section_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.course_sections_section_id_seq OWNED BY public.course_sections.section_id;


--
-- Name: faculties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faculties (
    faculty_id character varying(10) NOT NULL,
    faculty_name character varying(100) NOT NULL,
    description text
);


ALTER TABLE public.faculties OWNER TO postgres;

--
-- Name: grades; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.grades (
    grade_id integer NOT NULL,
    section_id integer,
    student_id character varying(20),
    attendance numeric(4,2),
    midterm numeric(4,2),
    final numeric(4,2),
    total_10 numeric(4,2),
    total_4 numeric(4,2),
    grade_char character varying(2),
    status public.grade_status DEFAULT 'DRAFT'::public.grade_status,
    CONSTRAINT grades_attendance_check CHECK (((attendance >= (0)::numeric) AND (attendance <= (10)::numeric))),
    CONSTRAINT grades_final_check CHECK (((final >= (0)::numeric) AND (final <= (10)::numeric))),
    CONSTRAINT grades_midterm_check CHECK (((midterm >= (0)::numeric) AND (midterm <= (10)::numeric)))
);


ALTER TABLE public.grades OWNER TO postgres;

--
-- Name: grades_grade_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.grades_grade_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.grades_grade_id_seq OWNER TO postgres;

--
-- Name: grades_grade_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.grades_grade_id_seq OWNED BY public.grades.grade_id;


--
-- Name: lecturers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lecturers (
    lecturer_id character varying(20) NOT NULL,
    user_id integer,
    faculty_id character varying(10),
    degree character varying(50),
    phone character varying(15)
);


ALTER TABLE public.lecturers OWNER TO postgres;

--
-- Name: majors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.majors (
    major_id character varying(20) NOT NULL,
    faculty_id character varying(10),
    major_name character varying(100) NOT NULL,
    total_credits integer DEFAULT 150
);


ALTER TABLE public.majors OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    notification_id integer NOT NULL,
    user_id integer,
    title character varying(200),
    message text,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_notification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_notification_id_seq OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_notification_id_seq OWNED BY public.notifications.notification_id;


--
-- Name: schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schedules (
    schedule_id integer NOT NULL,
    section_id integer,
    day_of_week integer DEFAULT 2 NOT NULL,
    start_period integer,
    end_period integer,
    room character varying(50),
    week_number integer,
    week integer DEFAULT 1 NOT NULL,
    CONSTRAINT check_day_of_week CHECK (((day_of_week >= 2) AND (day_of_week <= 8))),
    CONSTRAINT check_week_number CHECK (((week_number >= 1) AND (week_number <= 16))),
    CONSTRAINT check_week_range CHECK (((week >= 1) AND (week <= 16))),
    CONSTRAINT schedules_end_period_check CHECK (((end_period >= 1) AND (end_period <= 15))),
    CONSTRAINT schedules_start_period_check CHECK (((start_period >= 1) AND (start_period <= 15)))
);


ALTER TABLE public.schedules OWNER TO postgres;

--
-- Name: COLUMN schedules.day_of_week; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.schedules.day_of_week IS 'Thß╗⌐ trong tuß║ºn (2=Thß╗⌐ 2, ..., 7=Thß╗⌐ 7, 8=Chß╗º nhß║¡t)';


--
-- Name: COLUMN schedules.week_number; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.schedules.week_number IS 'Tuß║ºn hß╗ìc trong hß╗ìc kß╗│ (1-16)';


--
-- Name: COLUMN schedules.week; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.schedules.week IS 'Tuß║ºn hß╗ìc trong hß╗ìc kß╗│ (1-16)';


--
-- Name: schedules_schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.schedules_schedule_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schedules_schedule_id_seq OWNER TO postgres;

--
-- Name: schedules_schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.schedules_schedule_id_seq OWNED BY public.schedules.schedule_id;


--
-- Name: section_students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.section_students (
    section_id integer NOT NULL,
    student_id character varying(20) NOT NULL,
    registered_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.section_students OWNER TO postgres;

--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    student_id character varying(20) NOT NULL,
    user_id integer,
    class_id character varying(20),
    dob date,
    gender character varying(10),
    phone character varying(15),
    address text,
    gpa_accumulated numeric(4,2) DEFAULT 0.0,
    status public.student_status DEFAULT 'STUDYING'::public.student_status
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: subject_prerequisites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subject_prerequisites (
    subject_id character varying(20) NOT NULL,
    prerequisite_id character varying(20) NOT NULL
);


ALTER TABLE public.subject_prerequisites OWNER TO postgres;

--
-- Name: subjects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subjects (
    subject_id character varying(20) NOT NULL,
    subject_name character varying(100) NOT NULL,
    credits integer NOT NULL,
    description text,
    CONSTRAINT subjects_credits_check CHECK ((credits > 0))
);


ALTER TABLE public.subjects OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    email character varying(100) NOT NULL,
    username character varying(50),
    role public.user_role NOT NULL,
    full_name character varying(100) NOT NULL,
    avatar_url text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: academic_requests request_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_requests ALTER COLUMN request_id SET DEFAULT nextval('public.academic_requests_request_id_seq'::regclass);


--
-- Name: course_sections section_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_sections ALTER COLUMN section_id SET DEFAULT nextval('public.course_sections_section_id_seq'::regclass);


--
-- Name: grades grade_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grades ALTER COLUMN grade_id SET DEFAULT nextval('public.grades_grade_id_seq'::regclass);


--
-- Name: notifications notification_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN notification_id SET DEFAULT nextval('public.notifications_notification_id_seq'::regclass);


--
-- Name: schedules schedule_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedules ALTER COLUMN schedule_id SET DEFAULT nextval('public.schedules_schedule_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: academic_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.classes (class_id, major_id, advisor_id, class_name, enrollment_year) FROM stdin;
D22HT01	7480201	GV001	─ÉH CNTT K14 - Lß╗¢p 01	2022
\.


--
-- Data for Name: course_sections; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: faculties; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.faculties (faculty_id, faculty_name, description) FROM stdin;
IET	Viß╗çn Kß╗╣ thuß║¡t - C├┤ng nghß╗ç	─É├áo tß║ío c├íc ng├ánh kß╗╣ thuß║¡t
Testtttt	Cong nghe thong tin	testtttttt
\.


--
-- Data for Name: grades; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lecturers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lecturers (lecturer_id, user_id, faculty_id, degree, phone) FROM stdin;
GV001	94	IET	Tiß║┐n s─⌐	0987654321
GV002	98	IET	Ph├│ Gi├ío s╞░ - Tiß║┐n s─⌐	0934567890
\.


--
-- Data for Name: majors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.majors (major_id, faculty_id, major_name, total_credits) FROM stdin;
7480201	IET	C├┤ng nghß╗ç th├┤ng tin	150
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schedules (schedule_id, section_id, day_of_week, start_period, end_period, room, week_number, week) FROM stdin;
154	34	2	11	15	A101	\N	1
165	34	2	11	15	A101	\N	2
166	34	3	11	15	A101	\N	2
167	34	4	11	15	A101	\N	2
168	34	5	11	15	A101	\N	2
127	34	3	6	10	A104	\N	1
128	35	4	1	5	A105	\N	1
129	36	4	6	10	A106	\N	1
130	38	5	1	5	A107	\N	1
131	39	5	6	10	A108	\N	1
132	40	6	1	5	B201	\N	1
133	41	6	6	10	B202	\N	1
134	42	7	1	5	B203	\N	1
135	47	7	6	10	B204	\N	1
136	34	8	1	5	A101	\N	1
138	34	8	6	10	A101	\N	1
\.


--
-- Data for Name: section_students; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.students (student_id, user_id, class_id, dob, gender, phone, address, gpa_accumulated, status) FROM stdin;
2224802010365	95	D22HT01	2004-05-15	Nß╗»	0912345678	\N	3.25	STUDYING
2224802010366	96	D22HT01	2004-08-20	Nam	0923456789	\N	3.25	STUDYING
\.


--
-- Data for Name: subject_prerequisites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subject_prerequisites (subject_id, prerequisite_id) FROM stdin;
\.


--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: academic_requests_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.academic_requests_request_id_seq', 9, true);


--
-- Name: course_sections_section_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.course_sections_section_id_seq', 50, true);


--
-- Name: grades_grade_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.grades_grade_id_seq', 182, true);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_notification_id_seq', 31, true);


--
-- Name: schedules_schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schedules_schedule_id_seq', 168, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 104, true);


--
-- Name: academic_requests academic_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_requests
    ADD CONSTRAINT academic_requests_pkey PRIMARY KEY (request_id);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (class_id);


--
-- Name: course_sections course_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_sections
    ADD CONSTRAINT course_sections_pkey PRIMARY KEY (section_id);


--
-- Name: course_sections course_sections_section_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_sections
    ADD CONSTRAINT course_sections_section_code_key UNIQUE (section_code);


--
-- Name: faculties faculties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faculties
    ADD CONSTRAINT faculties_pkey PRIMARY KEY (faculty_id);


--
-- Name: grades grades_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_pkey PRIMARY KEY (grade_id);


--
-- Name: lecturers lecturers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecturers
    ADD CONSTRAINT lecturers_pkey PRIMARY KEY (lecturer_id);


--
-- Name: lecturers lecturers_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecturers
    ADD CONSTRAINT lecturers_user_id_key UNIQUE (user_id);


--
-- Name: majors majors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.majors
    ADD CONSTRAINT majors_pkey PRIMARY KEY (major_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (notification_id);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (schedule_id);


--
-- Name: section_students section_students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_students
    ADD CONSTRAINT section_students_pkey PRIMARY KEY (section_id, student_id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (student_id);


--
-- Name: students students_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_user_id_key UNIQUE (user_id);


--
-- Name: subject_prerequisites subject_prerequisites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject_prerequisites
    ADD CONSTRAINT subject_prerequisites_pkey PRIMARY KEY (subject_id, prerequisite_id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (subject_id);


--
-- Name: grades unique_student_grade; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT unique_student_grade UNIQUE (section_id, student_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_academic_requests_grade; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_academic_requests_grade ON public.academic_requests USING btree (grade_id);


--
-- Name: idx_academic_requests_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_academic_requests_status ON public.academic_requests USING btree (status);


--
-- Name: idx_academic_requests_student; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_academic_requests_student ON public.academic_requests USING btree (student_id);


--
-- Name: idx_schedules_room_week; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_schedules_room_week ON public.schedules USING btree (room, week, day_of_week);


--
-- Name: idx_schedules_unique_room_time_week; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_schedules_unique_room_time_week ON public.schedules USING btree (room, day_of_week, week_number, start_period, end_period) WHERE (room IS NOT NULL);


--
-- Name: idx_schedules_week_day; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_schedules_week_day ON public.schedules USING btree (week, day_of_week);


--
-- Name: idx_schedules_week_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_schedules_week_number ON public.schedules USING btree (week_number);


--
-- Name: schedules trg_check_lecturer_conflict; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_check_lecturer_conflict BEFORE INSERT OR UPDATE ON public.schedules FOR EACH ROW EXECUTE FUNCTION public.check_lecturer_schedule_conflict();


--
-- Name: academic_requests academic_requests_grade_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_requests
    ADD CONSTRAINT academic_requests_grade_id_fkey FOREIGN KEY (grade_id) REFERENCES public.grades(grade_id) ON DELETE SET NULL;


--
-- Name: academic_requests academic_requests_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_requests
    ADD CONSTRAINT academic_requests_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id);


--
-- Name: classes classes_advisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_advisor_id_fkey FOREIGN KEY (advisor_id) REFERENCES public.lecturers(lecturer_id);


--
-- Name: classes classes_major_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_major_id_fkey FOREIGN KEY (major_id) REFERENCES public.majors(major_id);


--
-- Name: course_sections course_sections_lecturer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_sections
    ADD CONSTRAINT course_sections_lecturer_id_fkey FOREIGN KEY (lecturer_id) REFERENCES public.lecturers(lecturer_id);


--
-- Name: course_sections course_sections_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_sections
    ADD CONSTRAINT course_sections_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id);


--
-- Name: grades grades_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.course_sections(section_id);


--
-- Name: grades grades_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id);


--
-- Name: lecturers lecturers_faculty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecturers
    ADD CONSTRAINT lecturers_faculty_id_fkey FOREIGN KEY (faculty_id) REFERENCES public.faculties(faculty_id);


--
-- Name: lecturers lecturers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecturers
    ADD CONSTRAINT lecturers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: majors majors_faculty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.majors
    ADD CONSTRAINT majors_faculty_id_fkey FOREIGN KEY (faculty_id) REFERENCES public.faculties(faculty_id) ON DELETE SET NULL;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: schedules schedules_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.course_sections(section_id) ON DELETE CASCADE;


--
-- Name: section_students section_students_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_students
    ADD CONSTRAINT section_students_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.course_sections(section_id) ON DELETE CASCADE;


--
-- Name: section_students section_students_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section_students
    ADD CONSTRAINT section_students_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: students students_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(class_id);


--
-- Name: students students_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: subject_prerequisites subject_prerequisites_prerequisite_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject_prerequisites
    ADD CONSTRAINT subject_prerequisites_prerequisite_id_fkey FOREIGN KEY (prerequisite_id) REFERENCES public.subjects(subject_id);


--
-- Name: subject_prerequisites subject_prerequisites_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject_prerequisites
    ADD CONSTRAINT subject_prerequisites_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict onLMonkvhWhVkvKhWtQaGYDWyFabaxxD2m9tmrr4r2h6bAMtOqJY0LJBLY0cvUo

